<!DOCTYPE html>
<html>


<body class="" style="background-color:#2e313f;">
    <div class="parallaxerror">
        <div>
            <h1 style="color:black;text-align:center;padding-top:120px;">CONTENIDO NO ENCONTRADO</h1>
            <button class="btn btn-default" >
             regresar
            </button>
        </div>

    </div>




</body>


</html>
