@model flix.Models.IndexViewModel

@{
    ViewBag.Title = "Index";

}



<body class="parallax">

    

    <div class="parallax">
        <div>
            <h1 style="color:white;text-align:center;padding-top:120px;">LOS MEJORES REVIEWS ONLINE</h1>
        </div>

    </div>


    <div class="row" style="margin-top: 0px;  height:100px; background-color:#b73333;   padding-left: 15px;margin-right: auto;margin-left: auto;">
        <div class="col-sm-4" style="margin-top:30px;">
            @Html.DropDownListFor(c => c.Genre.Name,new SelectList(Model.LGenres,"Id","Name") , "Selecciona", new { @class = "form-control" })
        </div>
        <div class="col-sm-4" style="margin-top:30px;">

            @*@Html.DropDownListFor(c => c.categoria, list, "Selecciona Autor", new { @class = "form-control" })*@
        </div>

    </div>




    
    <div class="body-content" style="background-color:white;padding-top: 20px;margin-left: 20px;margin-right: 20px;">



        <div class="panel panel-default" style="background-color:#b73333;">
            <div class="panel-body">
                <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Reviews más recientes</h2>
            </div>
        </div>

       
              
                <div class="panel panel-default" style="background-color:white; box-shadow: 7px 7px 5px #888888;">
                    <div class="panel-body">

                        <div style="height:350px; width:100%;">
                            <section class="center slider" style="width:88%;">
                                <div>
                                    <a><img class="hvr-shrink" style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                                </div>
                                <div>
                                    <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                                </div>
                                <div>
                                    <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                                </div>
                                <div>
                                    <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                                </div>
                                <div>
                                    <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                                </div>
                                <div>
                                    <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                                </div>
                            </section>

                        </div>

                    </div>
                </div>



        

        <div class="panel panel-default" style="background-color:#b73333;">
            <div class="panel-body">
                <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Más populares</h2>
            </div>
        </div>



        <div class="panel panel-default" style="background-color:white; box-shadow: 7px 7px 5px #888888;">
            <div class="panel-body">

                <div style="height:350px; width:100%;">
                    <section class="center slider" style="width:88%;">
                        <div>
                            <a><img class="hvr-shrink" style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                        </div>
                        <div>
                            <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                        </div>
                        <div>
                            <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                        </div>
                        <div>
                            <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                        </div>
                        <div>
                            <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                        </div>
                        <div>
                            <a><img style="width:200px;height:300px;" src="~/Content/starw.jpg" /></a>
                        </div>
                    </section>

                </div>

            </div>
        </div>
    </div>
</body>