@model flix.Models.Review

@{
    ViewBag.Title = "review";
}

<body class="body-content">








    <div class="body-content" style="padding-top: 20px;margin-left: 20px;margin-right: 20px;">



        <div class="panel panel-default" style="background-color:#b73333;">
            <div class="panel-body">
                <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Reviews</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                HOL
            </div>

            <div class="col-md-4">
                HOL
            </div>

        </div>
     
    </div>
</body>