
@{
    ViewBag.Title = "Graficas";
   
        var myChart = new Chart(width: 600, height: 400, theme: ChartTheme.Green)
            .AddTitle("Chart Title")
            .AddSeries(
                name: "ChartTitle",
                xValue: new[] { "Col1", "Col2", "Col3", "Col4", "Col5" },
                yValues: new[] { "2", "6", "4", "5", "3" })
            .Write();
   
}



<html>

<body>
    <h2>Graficas</h2>

   <img src="MyChart.cshtml" />
    <!-- or <img src='@Url.Action("Controler","ActionNameOfChartRenderingView")' />-->

</body>
</html>