@model flix.Models.UserViewMovel


@{
    ViewBag.Title = "perfil";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Resources/Libraries/slick-1.6.0/slick/slick.min.js"></script>
    <script src="~/Resources/Libraries/slick-1.6.0/slick/slick.js"></script>
</head>

<body class="body-content" style="background-color:#2e313f;">



    <div class="body-content" style="padding-top: 20px;margin-left: 20px;margin-right: 20px;">

    <div class="panel panel-default" style="background-color:#8b3337;">
        <div class="panel-body">
            <h2 style="color:white;font-size:35px;text-align:center;" class="titles">TU PERFIL</h2>
        </div>
    </div>
    </div>


            <div class="center" style="text-align:center;background-color:white;border-radius:15px;">

                <div class="panel panel-default" >
                    <div class="panel-body">

                        <div class="container" style="margin: 0 auto;margin-left:100px;">
                            <div class="row">

                                <div style="height:400px;text-align:center;" class="col-md-3">
                                    <h3 style="color:white;background-color:#8b3337;border-radius:15px;">FOTO DE PERFIL</h3>
                                    @*aqui si pueden ser los robots!*@
                                  
                                   
                                  @foreach (var user in Model.LUser)
                                  {
                                      <a><img style="width: 200px;height: 300px;" src="@Href("~/Content/" + @user.PathImage)" /></a>
                                  }
                                     
                                   
                                
                                </div>
                                <div style="height:450px; background-color:#8b3337;border-radius:15px;" class="col-md-5">
                                    <div class="body-content" style="margin-top:30px;">
                                        @foreach (var user in Model.LUser)
                                        {   
                                            <p class="moviedes">Nombre:@user.Name</p>
                                            <p class="moviedes">Email:@user.Email</p>
                                            <p class="moviedes">Age:@user.Age</p>
                                            <p class="moviedes">LastName:@user.LastName</p>
                                            <p class="moviedes">Genre:@user.User_Genre.Name</p>
                                            <p class="moviedes">Username:@user.Username</p>

                                        }
                                       
                                    </div>
                                </div>

                            </div>
                            
                            <div style="height:450px; background-color:#8b3337;border-radius:15px;" class="col-md-5">
                                <div class="body-content" style="margin-top:30px;">
<<<<<<< HEAD
                                     
                                    @foreach (var reviews in Model.ProfileViewModel.LMovie)
                                    { 
                                        <p class="moviedes">Titulo:@reviews.Title</p>
                                     
=======
                                     @if (Model.ProfileViewModel.LMovie== null)
                                     {
                                        
                                     }
                                     else
                                     {
                                         foreach (var reviews in Model.ProfileViewModel.LMovie)
                                         { 
                                             <p class="moviedes">Titulo:@reviews.Title</p>
                                      
                                         }
                                     }
                                        
                                    @if (Model.ProfileViewModel.LPoster == null)
                                    {
                                       
>>>>>>> 0744d89e7c2f8535c869bd58f00ab58e131fafbf
                                    }
                                    else
                                    {
                                        foreach (var reviews in Model.ProfileViewModel.LPoster)
                                        {
                                            <a><img style="width: 200px; height: 300px;" src="@Href("~/Content/" + reviews.PathImage)" /></a>
                                        }
                                    }

                                    @if (Model.ProfileViewModel.LReviews == null)
                                    {
                                        <p class="moviedes">No Tienes Reviews!</p>
                                    }
                                    else
                                    {
                                        foreach (var reviews in Model.ProfileViewModel.LReviews)
                                        { 
                                            <p class="moviedes">Comentario:@reviews.Comment</p>
                                            <p class="moviedes">Fecha:@reviews.Date</p>
                                            <p class="moviedes">Rank:@reviews.Rank</p>
                                      
                                        }
                                    }
                                    
<<<<<<< HEAD
=======
                                    
                                     

>>>>>>> 0744d89e7c2f8535c869bd58f00ab58e131fafbf
                                   
                                       
                                </div>
                            </div>

                            

                        </div>

                    </div>
                </div>

            </div>


 
</body>