@model flix.Models.perfil
@{
    ViewBag.Title = "perfil";
}

<body style="background-color:#fb9260;">
    <h2 style="color:white;">Modificar Perfil</h2>
    <div style="background-color:lightgrey;margin-top:100px;height:400px; width:100%;">

    </div>
</body>
