@model flix.User

@{
    ViewBag.Title = "Register";
}



<body class="body-content" style="background-color:#2e313f;">








    <div class="body-content" style="padding-top: 20px;margin-left: 20px;margin-right: 20px;">

        <div class="panel panel-default" style="background-color:#8b3337;">
            <div class="panel-body">
                <h2 style="color:white;font-size:35px;text-align:center;" class="titles">REGISTER</h2>
            </div>
        </div>



        <div class="row">

            <div class="col-md-9">

                <div class="panel panel-default" style="background-color:white;">
                    <div class="panel-body">

                        <div class="container" style="margin-left:100px;">
                            <div class="row">
                             

                                <div class="col-md-7">
                                
                                    <div class="form-group">
                                        <label for="usr">Name:</label>
                                        <input type="text" class="form-control" id="usr">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">lastname:</label>
                                        <input type="text" class="form-control" id="lastname">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Username:</label>
                                        <input type="text" class="form-control" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">email:</label>
                                        <input type="text" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Edad:</label>
                                        <input type="text" class="form-control" id="edad">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pwd">
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>
                </div>



            </div>

            <div class="col-md-3" style="height:300px; background-color:#8b3337;border-radius:15px;">
                <div class="panel panel-default" style="margin-top:30px;text-align:center; font-size:17px;">
                    <div class="panel-body">Ir a Inicio</div>
                </div>
            </div>

        </div>
    </div>
</body>

