body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.titles{
    color:white;
    font-size: 50px;
}
.log1{
     
         height: 76px;
    background-color: transparent;
    margin-top: -10px;
    margin-right: 10px;
}
.botonmain{
    background-color:#b9090b;
    border-radius:5px;
    color:white !important;
    font-size:22px;
    
    text-decoration:none;
    border-color:#b9090b;
}
a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}
.img-bg{
    
   background-image: url(Netflix2.jpg);
}
.fondotemp{
    background-image: url(starw.jpg);
    width:250px;
    height:300px;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.parallax { 
    /* The image used */
    background-image: url(memes2.jpg);

    /* Set a specific height */
    height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.parallax2 { 
    /* The image used */
    background-image: url(header-background.jpg);

    /* Set a specific height */
    height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.bodybg{
     background-image: url(memes2.png);
}


.sidepanels{
    margin-top:15px;
    color:black;
    background-color:white;
    border-radius:15px;
    margin-left:10px;

}

.moviedes{
    color:white !important;
    font-size:17px;
    font-weight: bold;

}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
  box-sizing: border-box;
}

form {
  margin: 30px auto 110px;
}

.search_bar {
  background: #fff;
  border: #b7b7b7 solid 1px;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 420px;
}
.search_bar input[type=text] {
  border: none;
  box-shadow: none;
  font-weight: 600;
  font-size: 14px;
  width: 80%;
  padding: .5em;
  margin: 0;
  overflow: hidden;
}
.search_bar input[type=text]:focus {
  outline: none;
}
.search_bar button[type=submit] {
  background: linear-gradient(#8b3337, #8b3337);
  color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.54);
  width: 10%;
  min-width: 56px;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 0 3px 3px 0;
  margin: 0;
  user-select: none;
}
.search_bar button[type=submit]:after {
  content: '';
  position: absolute;
  top: 18%;
  right: 0;
  bottom: 22%;
  left: 4%;
  background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/search-icon.svg") no-repeat center center;
  background-size: contain;
}
.search_bar button[type=submit]:hover, .search_bar button[type=submit]:focus {
  background: linear-gradient(#2e313f, #2e313f);
 box-shadow: 0 0 3px rgba(255, 255, 255,1)
   
  cursor: pointer;
}
.search_bar .search_dropdown {
    font-weight: 600;
    min-width: 17px;
    background: linear-gradient(#8b3337, #8b3337);
    border-right: 1px solid #ddd;
    color: #fff;
    padding: 0 28px 0 13px;
    border-radius: 2px 0 0 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    user-select: none;
    box-sizing: content-box;
}
.search_bar .search_dropdown:after {
  content: "\2193";
  color: rgba(85, 85, 85, 0);
  background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg") no-repeat top left;
  height: 8px;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
}
.search_bar .search_dropdown:hover, .search_bar .search_dropdown.active {
 background: linear-gradient(#8b3337, #8b3337);
    color: white;
    cursor: pointer;
    border-right-color: #ccc;
}
.search_bar .search_dropdown > span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  white-space: nowrap;
  font-size: 15px;
}
.search_bar .search_dropdown ul {
  display: none;
  position: absolute;
  top: 105%;
  left: -1px;
  font-size: 14px;
  width: 225px;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px 0;
}
.search_bar .search_dropdown li {
  list-style-type: none;
  margin: 0;
  padding: 5px 18px;
  color: #1C62A8;
  line-height: 1.2em;
  position: relative;
}
.search_bar .search_dropdown li:hover {
  background: #e7e7e7;
}
.search_bar .search_dropdown li.selected {
  background: #2e313f;
  color: #fff;
}
.search_bar.small {
  max-width: 300px;
}
.search_bar.small input[type=text] {
  font-size: 13px;
}
.search_bar.large {
  max-width: 560px;
}
.search_bar.large input[type=text] {
  font-size: 16px;
}
.search_bar.larger {
  max-width: 700px;
}
.search_bar.larger input[type=text] {
  font-size: 14px;
}
.search_bar.huge {
  max-width: 860px;
}
.search_bar.huge input[type=text] {
  font-size: 21px;
}
.search_bar ::placeholder {
  font-weight: 400;
}
.community-images {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.colas {
    text-align:center;
    font-weight:bold;
    font-size:20px;
    border-radius:15px;
  color:white;
  background-color:#8b3337;
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  min-height: 300px;
  box-shadow: 10px 10px 5px #888888;
}
.imgc{
        width: 200px;
    margin-top: 20px;
}

.base{
    font-weight:bold; font-size:20px;text-align:center;color:white;margin-top: -100px;
}

.base2{
    background-color:#8b3337;height:700px;border-radius:15px;
}

.subtitulo{
    margin-top: 10px;
    background-color: rgb(139, 51, 55);
    border-radius: 8px;
    padding: 7px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 0px;
    width: 198px;
    height: 50px;
}

.sizecool{
    width: 200px; height: 300px;
}

.imagencard{
    width: 200px; height: 300px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}