body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.titles{
    color:white;
    font-size: 50px;
}
.log1{
     
         height: 76px;
    background-color: transparent;
    margin-top: -10px;
    margin-right: 10px;
}
.botonmain{
    background-color:#b9090b;
    border-radius:5px;
    color:white !important;
    font-size:22px;
    
    text-decoration:none;
    border-color:#b9090b;
}
a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}
.img-bg{
    
   background-image: url(Netflix2.jpg);
}
.fondotemp{
    background-image: url(starw.jpg);
    width:250px;
    height:300px;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.parallax { 
    /* The image used */
    background-image: url(memes2.png);

    /* Set a specific height */
    height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.bodybg{
     background-image: url(memes2.png);
}


.sidepanels{
    margin-top:15px;
    color:black;
    background-color:white;
    border-radius:15px;
    margin-left:10px;

}

.moviedes{
    color:white !important;
    font-size:17px;
    font-weight: bold;

}