@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:#b9090b;">
    <div class="jumbotron" style="background-color:transparent;">



    </div>

        <div class="col-md-6">
            <h2 class="titles">PAGINA PRINCIPAL AQUI SE DESPLIEGARAN LOS REVIEWS!!!!!</h2>

        </div>
    </div>
</body>